<!doctype html>
<html lang="<%=  nodefony.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Nodefony (https://nodefony.net)" />
    <meta
      name="keywords"
      content="web,Framework,realtime,node.js,symfony,javascript,npm,linux"
    />
    <meta
      name="description"
      content="Node.js full-stack web framework Symfony Like"
    />

    <title><%= nodefony.name %></title>
  </head>

  <body>
    <h1><%= nodefony.name %> EJS</h1>
    <h1><%= name %></h1>
  </body>
</html>
